.stats {
  padding: 20px;
  background-color: wheat;
  display: flex;
  margin: 0;
  justify-content: space-around;
}
.items {
  border-color: darkgrey;
  text-align: center;
}

.label {
  display: block;
}

.quantity {
  display: block;
  font-weight: 900;
}
